node_modules
example
tmp
dist
.DS_Store
.jshintrc
.babelrc
.idea
assets/jsmin/*
assets/cssmin/*
config.js
oss_sts_config.js
queue_x_config.js
pushconfig.sh
*.sublime-*
*.debug.*
assets.json
doc
logs
initdata
initdata.js
built_js_out.js
makejs.js
test.js
jsdoc-settings.json
.vscode